body{
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #000;
}
p{
	font-size: 10px;
	line-height: 10px;
	background: url(hal4.jpg) no-repeat center/contain;
	background-attachment: fixed;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255,255,255,.2);
}

